certifi==2021.10.8
charset-normalizer==2.0.10
docutils==0.18.1
filetype==1.0.9
idna==3.3
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-examples==2.0.0
Kivy-Garden==0.1.4
Pillow==8.4.0
Pygments==2.11.2
PyPDF2==1.26.0
pypiwin32==223
pywin32==303
requests==2.27.1
urllib3==1.26.8
